<div class="alert alert-success" role="alert">
    New post is created!
</div>
<p>Title: <%- formData.title %></p>
<p>Author: <%- formData.author %></p>
<p>Body: <%- formData.body %></p>
<a href="/posts">See all posts</a>
