<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

		<h1>Новостная страница c ID = <%= newsId %></h1>
        <ul>
            <% obj.paragraphs.forEach(function(item) { %>
            <li><%= item %></li>
        <% }); %>
        </ul>

</body>
</html>

