<!doctype html>
<html lang="en">
 <head>
    <head>
       
        <title>My blog</title>
<% let flagSort= 'author'
console.log(flagSort);
%>
</head>
<body>
    <form method="get" action="/sort_author">
        </form>
</body>
</html>
